<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HotCornersApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <HotCornersApp.Properties.Settings>
            <setting name="runOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="runInTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="topLeft" serializeAs="String">
                <value/>
            </setting>
            <setting name="topRight" serializeAs="String">
                <value/>
            </setting>
            <setting name="bottomLeft" serializeAs="String">
                <value/>
            </setting>
            <setting name="bottomRight" serializeAs="String">
                <value/>
            </setting>
            <setting name="topLeftShortcut" serializeAs="String">
                <value/>
            </setting>
            <setting name="bottomLeftShortcut" serializeAs="String">
                <value/>
            </setting>
            <setting name="topRightShortcut" serializeAs="String">
                <value/>
            </setting>
            <setting name="bottomRightShortcut" serializeAs="String">
                <value/>
            </setting>
            <setting name="topLeftProcess" serializeAs="String">
                <value/>
            </setting>
            <setting name="topRightProcess" serializeAs="String">
                <value/>
            </setting>
            <setting name="bottomLeftProcess" serializeAs="String">
                <value/>
            </setting>
            <setting name="bottomRightProcess" serializeAs="String">
                <value/>
            </setting>
            <setting name="charmsCornerDisabled" serializeAs="String">
                <value>False</value>
            </setting>
        </HotCornersApp.Properties.Settings>
    </userSettings>
</configuration>
